<div #settings class="slide-settings">
    <div class="slide-settings__buttons-container">
        <button
            class="slide-settings__input slide-settings__file-loader" 
            title="Open File" 
            (click)="onFileLoad()">
            <mat-icon>file_open</mat-icon>
        </button>

        <button
            class="slide-settings__input slide-settings__file-loader" 
            title="Delet image frome background" 
            (click)="deleteImage()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    
    <div class="slide-settings__color-group" >
        <label class="slide-settings__color">Fill color</label>

        <input matInput
            class="slide-settings__color"
            type="color"
            (change)="colorChanged()"
            [(ngModel)]="slide.backgroundColor" />
    </div>
</div>