<div class="presentation-maker-toolbar">
    <div class="title">
        <p>{{presentation.name}}</p>

    </div>
    <!--File actions starts-->
    <div class="toolbar-section section__actions">
        <div class="section-tools">
            <button class="tool" (click)="onOpen()">
                <mat-icon>file_open</mat-icon>
            </button>
            <button class="tool" (click)="onSave()">
                <mat-icon>save</mat-icon>
            </button>
            <button class="tool" (click)="undoEvent">
                <mat-icon>undo</mat-icon>
            </button>
            <button class="tool" (click)="redoEvent">
                <mat-icon>redo</mat-icon>
            </button>
        </div>
        <div class="section-title">
            <p>FILE ACTIONS</p>
        </div>
    </div>
    <!--File actions close-->

    <!--Attachments starts-->
    <div class="toolbar-section section__attachments">
        <div class="section-tools">
            <button class="tool" (click)="textEvent">
                <p>T</p>
            </button>

            <button class="tool" (click)="triangleEvent">
                <!--Triangle-->
                <mat-icon>change_history</mat-icon>
            </button>

            <button class="tool" (click)="squareEvent">
                <!--Square-->
                <mat-icon>crop_square</mat-icon>
            </button>

            <button class="tool" (click)="circleEvent">
                <!--Circle-->
                <mat-icon>circle</mat-icon>
            </button>

            <button class="tool" (click)="ImageEvent">
                <mat-icon>image</mat-icon>
            </button>
        </div>
        <div class="section-title">
            <p>TOOLS</p>
        </div>
    </div>
    <!--Attachments close-->
</div>