.presentation-maker-toolbar 
{
    width: 100%;
    height: 121px;
    background-color: rgba(88, 118, 194, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);;
}

.title
{
    background-color: rgba(255, 255, 255, 1);
    height: 67px;
    width: 312px;
    margin-left: 12px;
    margin-right: 75px;
    text-align: center;
}

.toolbar-section
{
    width: 255px;
    height: 96px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 75px;
}

.section-tools
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content
}

.section-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.tool
{
    width: 58px;
    height: 47px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}