<div class="presentation-maker-toolbar">
    <input class="title" [formControl]="titleControl" />

    <div class="toolbar-section">
        <div class="section-tools">
            <button class="tool" title="Open File" (click)="onOpen()">
                <mat-icon>file_open</mat-icon>
            </button>
            <button class="tool" title="Save project" (click)="onSave()">
                <mat-icon>save</mat-icon>
            </button>
            <button class="tool" title="New Presentation" (click)="newPresentationEvent()">
                <mat-icon>library_add</mat-icon>
            </button>
            <button class="tool" title="Undo" (click)="onRedoEvent.emit()">
                <mat-icon>undo</mat-icon>
            </button>
            <button class="tool" title="Redo" (click)="onRedoEvent.emit()">
                <mat-icon>redo</mat-icon>
            </button>
            <button class="tool" title="Export to PDF" (click)="onExport()">
                <mat-icon>upgrade</mat-icon>
            </button>
        </div>

        <div class="section-title">
            <p>FILE ACTIONS</p>
        </div>
    </div>

    <div class="toolbar-section">
        <div class="section-tools">
            <button class="tool" title="Text" (click)="textEvent()">
                <p>T</p>
            </button>

            <button class="tool" title="Triangle" (click)="triangleEvent()">
                <!--Triangle-->
                <mat-icon>change_history</mat-icon>
            </button>

            <button class="tool" title="Square" (click)="squareEvent()">
                <!--Square-->
                <mat-icon>crop_square</mat-icon>
            </button>

            <button class="tool" title="Circle" (click)="circleEvent()">
                <!--Circle-->
                <mat-icon>circle</mat-icon>
            </button>

            <button class="tool" title="Download image" (click)="imageEvent()">
                <mat-icon>image</mat-icon>
            </button>
        </div>
        <div class="section-title">
            <p>TOOLS</p>
        </div>
    </div>
    <!--Attachments close-->
</div>