.presentation-slide-preview {
    width: 800px;
    height: 600px;
    margin: 20px 0;

    box-shadow: 2px 2px 2px 2px rgba(34, 60, 80, 0.2);
    border-radius: 4%;

    &_focused
    {
        border-width: 2px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
    }
    &__actions {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        padding-left: 5px;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }
}