<div class="presentation-slide-preview__container">
    <div class="presentation-slide-preview {{ isSelectedSlide ? 'presentation-slide-preview_focused' : 'presentation-slide-preview_unfocused' }}" 
        (click)="onClick.emit(slide)">
        {{ slide.id }}
        <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of movies" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                {{movie}}
            </div>
        </div> -->
    </div>

    <div class = "presentation-slide-preview__actions">
        <button class="presentation-maker__slides-adder"
                title="Raise"
                (click)="onRaise.emit(slide.id)">
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <button class="presentation-maker__slides-adder"
                title="Delete"
                (click)="onDelete.emit(slide.id)">
            <mat-icon>delete</mat-icon>
        </button> 
        <button class="presentation-maker__slides-adder"
                title="Drop"
                (click)="onDrop.emit(slide.id)">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>
</div>