

<div class="attachment"
    [style.transform]="'translate(' + position.x + 'px, ' + position.y +'px)'">
    <p *ngIf="isText" 
        class="attachment__text attachment__text_static"
        [style.width.px]="attachment.size.x" 
        [style.fontSize.px]="textAttachment.fontSize"
        [style.fontFamily]="textAttachment.fontFamily"
        [style.textDecoration]="isStriked ? 'line-through' : ''"
        [style.fontStyle]="isItalic ? 'italic' : ''"
        [style.fontWeight]="isBold ? 'bold' : ''"
        [style.color]="textAttachment.color"
        [style.backgroundColor]="textAttachment.fillColor">
        {{ textAttachment.text }}
    </p>

    <img *ngIf="isImage" 
        [src]="imageAttachment.image"
        [style.width.px]="attachment.size.x" 
        [style.height.px]="attachment.size.y" />

    <svg *ngIf="isPrimitive"
        [attr.width]="primitiveAttachment.size.x"
        [attr.height]="primitiveAttachment.size.y"
        [ngSwitch]="primitiveAttachment.attachmentType">
        <rect *ngSwitchCase="3" 
            [attr.x]="strokeWidth / 2"
            [attr.y]="strokeWidth / 2"
            [attr.width]="primitiveAttachment.size.x - strokeWidth"
            [attr.height]="primitiveAttachment.size.y - strokeWidth"
            [attr.fill]="primitiveAttachment.fillColor"
            [attr.stroke]="primitiveAttachment.color"
            [attr.stroke-width]="strokeWidth">
        </rect>

        <circle *ngSwitchCase="4"
            [attr.x]="strokeWidth / 2"
            [attr.y]="strokeWidth / 2"
            [attr.cx]="primitiveAttachment.size.x / 2"
            [attr.cy]="primitiveAttachment.size.y / 2"
            [attr.r]="primitiveAttachment.size.x / 2 - strokeWidth / 2"
            [attr.fill]="primitiveAttachment.fillColor"
            [attr.stroke]="primitiveAttachment.color"
            [attr.stroke-width]="strokeWidth">
        </circle>

        <polygon *ngSwitchCase="5"
            [attr.points]="parsePolygonPointsFromVertices()"
            [attr.fill]="primitiveAttachment.fillColor"
            [attr.stroke]="primitiveAttachment.color"
            [attr.stroke-width]="strokeWidth">
        </polygon>
    </svg>
</div>