.attachment {
    width: 0;
    height: 0;

    &__text {
        border: 0;
        text-align: start;

        &:focus {
            outline: none;
        }

        &_static {
            white-space: nowrap;
            word-break: keep-all;
            overflow: hidden;
        }
    }

    &__settings {
        width: 225px;
    }

    &__primitive {
        background-color: transparent;
    }
}