<div class="attachment" 
     cdkDrag 
     #container="cdkDrag"
     [cdkDragFreeDragPosition]="attachment.position" 
     (cdkDragEnded)="onDragDropped($event)"
     (contextmenu)="onRightClick($event)" >

    <input *ngIf="isText" 
            class="attachment__text"
            [style.width.px]="attachment.scale.x" 
            [style.height.px]="attachment.scale.y"
            [(ngModel)]="attachment.data" />

    <img *ngIf="isImage" 
         src="{{ attachment.data }}"
         [style.width.px]="attachment.scale.x" 
         [style.height.px]="attachment.scale.y" />

    <canvas *ngIf="isShape"
            #canvas 
            [style.width.px]="attachment.scale.x" 
            [style.height.px]="attachment.scale.y"
            width="{{ attachment.scale.x }}"
            height="{{ attachment.scale.y }}">
    </canvas>

    <form #contextMenu
          [formGroup]="settingsGroup"
          (ngSubmit)="onSubmitSettings()"
          class="attachment__settings">
        <mat-button-toggle-group name="ingredients" 
                                 appearance="legacy" 
                                 aria-label="Ingredients" 
                                 class="attachment__settings-toggles"
                                 *ngIf="isText"
                                 multiple>
            <mat-button-toggle value="flour">Flour</mat-button-toggle>
            <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
            <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="attachment__settings-item" *ngIf="isText">
            <mat-label class="attachment__settings-label">Font family</mat-label>
            <input class="attachment__settings-input attachment__settings-input_labeled"
                   matInput
                   formControlName="fontFamily" />
        </mat-form-field>

        <mat-form-field class="attachment__settings-item" *ngIf="isText">
            <mat-label class="attachment__settings-label">Font size</mat-label>
            <input class="attachment__settings-input attachment__settings-input_labeled"
                   matInput
                   formControlName="fontSize" />
        </mat-form-field>
          
        <mat-form-field class="attachment__settings-item" *ngIf="isText">
            <mat-label class="attachment__settings-label">Text</mat-label>
            <input class="attachment__settings-input attachment__settings-input_labeled"
                   matInput
                   [ngxMatColorPicker]="colorPicker"
                   formControlName="colorControl" />
            <ngx-mat-color-toggle matSuffix [for]="colorPicker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #colorPicker [color]="'primary'"></ngx-mat-color-picker>
        </mat-form-field>

        <mat-form-field class="attachment__settings-item">
            <mat-label class="attachment__settings-label">Fill color</mat-label>
            <input class="attachment__settings-input attachment__settings-input_labeled"
                   matInput
                   [ngxMatColorPicker]="fillPicker"
                   formControlName="fillControl" />
            <ngx-mat-color-toggle matSuffix [for]="fillPicker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #fillPicker [color]="'primary'"></ngx-mat-color-picker>
        </mat-form-field>

        <button></button>
    </form>
</div>