.attachment {
    width: 0;
    height: 0;
    cursor: pointer;

    &__text {
        border: 0;
        text-align: start;

        &:focus {
            outline: none;
        }
    }

    &_unfocused {
        border: none;
        border-width: 0;
    }

    &_focused {
        border-style: dashed;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
    }

    &__settings {
        width: 225px;
    }

    &__primitive {
        background-color: transparent;
    }
}