.attachment {
    width: 0;
    height: 0;
    cursor: pointer;

    &__text {
        border: 0;
        text-align: start;
        
        &:focus {
            outline: none;
        }
    }

    &__focus:focus{
        border-style: dashed;
        border-color: black;
        border-width: 5px;
    }

    &__settings {
        width: 225px;

    &__primitive {
        background-color: transparent;
    }
}