.slide-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__container {
        width: 800px;
        height: 600px;
        box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
    }
}