<div class="presentation-maker">

    <presentation-toolbar 
        
        [presentation]="presentation"
        (onPresentationLoad)="onPresentationLoad($event)"

        (undoEvent)="onUndo()"
        (redoEvent)="onRedo()"

        (textEvent)="onAddText()"
        (ImageEvent)="onAddImage()"
        (squareEvent)="onAddSquare()"
        (circleEvent)="onAddCircle()"
        (triangleEvent)="onAddTriangle()">
    </presentation-toolbar>

    <div class="presentation-maker__content-container">

        <div class="presentation-maker__slides-container">
            <presentation-slide-preview 
                *ngFor="let slide of presentation.slides"
                [slide]="slide"
                (onClick)="onSlideChange($event)"
                (contextMenu)="onContextMenu(slide.id)">
            </presentation-slide-preview>
        </div>

        <div class="presentation-maker__workspace"
             (contextmenu)="cleanSelected($event)">
            <div class="presentation-maker__workspace-container">
                <attachment *ngFor="let attachment of currentSlide.attachments"
                            [attachment]="attachment"
                            [isSelected]="isSelected(attachment)"
                            (contextmenu)="onSelect(attachment)">
                </attachment>
            </div>
        </div>

    </div>
    
</div>