<div class="presentation-maker">
    <presentation-toolbar 
        [presentation]="presentation"
        (onUndoEvent)="onUndo()"
        (onRedoEvent)="onRedo()"
        (onCreateAttachmentEvent)="onCreateAttachment($event)"
        (onChangeEvent)="onPresentationChange($event)">
    </presentation-toolbar>

    <div class="presentation-maker__content-container">
        <div class="presentation-maker__slides-container">
            <div class="presentation-maker__slide-container"
                *ngFor="let slide of presentation.slides">
                <slide-preview
                    class="presentation-maker__slide"
                    [slide]="slide"
                    [isSelected]="isSlideSelected(slide.id)"
                    (click)="onSlideClick(slide.id, $event)">
                </slide-preview>

                <div class="presentation-maker__slide-actions">
                    <button mat-icon-button
                        class="presentation-maker__slide-action-button"
                        title="Raise"
                        (click)="onRaiseSlideButton(slide.id)">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>

                    <button mat-icon-button
                        class="presentation-maker__slide-action-button"
                        title="Delete"
                        (click)="deleteSlide(slide.id)">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-icon-button
                        class="presentation-maker__slide-action-button"
                        title="Drop"
                        (click)="onDropSlideButton(slide.id)">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <button mat-icon-button
                class="presentation-maker__slide-action-button presentation-maker__add-slide-button"
                title="Add slide"
                (click)="onAddSlide()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="presentation-maker__workspace"
             (click)="cleanSelectedAttachments($event)"
             (contextmenu)="onWorkspaceRightClick($event)">
            <div class="presentation-maker__workspace-container"
                [style.backgroundColor]="currentSlide.backgroundColor">
                <img *ngIf="currentSlide.image.length > 0"
                    [src]="currentSlide.image"
                    class="presentation-maker__workspace-image" />
                    
                <attachment *ngFor="let attachment of currentSlide.attachments"
                    [attachment]="attachment"
                    [isSelected]="isAttachmentSelected(attachment.id)"
                    (click)="selectAttachment(attachment.id, $event)"
                    (onChange)="onAttachmentChange($event)">
                </attachment>
            </div>
        </div>

        <slide-settings class="presentation-maker__settings"
            #slideSettings
            [slide]="currentSlide"
            (onChange)="onSlideChange($event)">
        </slide-settings>
    </div>
</div>