.presentation-maker {
    height: 100%;
    width: 100%;

    &__content-container {
        height: calc(100% - 121px);
        display: flex;
        flex-direction: row;
    }

    &__slides-container {
        width: 300px;
        height: 100%;

        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
    }

    &__workspace {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-container {
            width: 800px;
            height: 600px;
            box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
        }
    }
}