<div class="presentation-maker">

    <presentation-toolbar 
        [presentation]="presentation"
        (onPresentationLoad)="onPresentationLoad($event)"
        (undoEvent)="onUndo()"
        (redoEvent)="onRedo()"
        (onCreateAttachmentEvent)="onCreateAttachment($event)">
    </presentation-toolbar>

    <div class="presentation-maker__content-container">

        <div class="presentation-maker__slides-container">
            <presentation-slide-preview 
                *ngFor="let slide of presentation.slides"
                [slide]="slide"
                (click)="onSlideClick(slide.id, $event)"
                (onRaise)="onRaiseSlide($event)"
                (onDelete)="onDeleteSlide($event)"
                [isSelectedSlide]="isSlideSelected(slide.id)"
                (onDrop)="onDropSlide($event)">
            </presentation-slide-preview>
            
            <button class="presentation-maker__slides-adder"
                    title="Add slide"
                    (click)="onAddSlide()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="presentation-maker__workspace"
             (click)="cleanSelectedAttachments($event)">
            <div class="presentation-maker__workspace-container">
                <attachment *ngFor="let attachment of currentSlide.attachments"
                            [attachment]="attachment"
                            [isSelected]="isAttachmentSelected(attachment.id)"
                            (click)="selectAttachment(attachment.id, $event)">
                </attachment>
            </div>
        </div>

    </div>
    
</div>