.presentation-maker {
    height: 100%;
    width: 100%;

    &__content-container {
        height: calc(100% - 121px);
        display: flex;
        flex-direction: row;
    }

    &__slides-container {
        width: 330px;
        height: 100%;

        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);

        overflow-y: scroll;

        background-color: rgba(34, 60, 80, 0.005);
    }

    &__slide {
        transform: scale(.25, .25);
        position: relative;
        margin-right: -300px;

        &-container {
            width: 200px;
            height: 150px;
            position: relative;
            left: -320px;
            margin-bottom: 20px;

            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-actions {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
    }

    &__add-slide-button {
        margin-right: 40px;
    }

    &__workspace {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;

        &-container {
            width: 800px;
            height: 600px;

            background-color: white;
            position: relative;
        }

        &-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__settings {
        background-color: white;
        position: absolute;
        visibility: hidden;
        box-shadow: 1px 1px 4px 1px rgb(34 60 80 / 20%);
    }
}