.attachment-settings {
    width: 225px;
    z-index: 100;
    padding: 5px 10px;
    visibility: hidden;
    position: absolute;

    &__toggles {
        margin-bottom: 5px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__label {
        max-width: 40%;
    }

    &__input {
        width: 100%;
    }

    &__file-loader {
        margin: 10px 0;
    }

    &__color {
        width: 40%;

        &-group {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}